<div class="container-fluid">
  <div class="row">
    <div style="width: 33%;"></div>
    <div style="width: 33%;"><h3>Todo Compare Horizontal Bar chart</h3></div>
    <div style="width: 33%;text-align: end;">
      <button type="button" class="btn btn-primary" (click)="toPipeChart()">
        next to Pipe Chart bar chart
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div style="display: block;">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
    <div class="col">
      <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>
